.body{
    margin: 0 ;
    padding:0;
    font-family: 'Ralway',Arial, Helvetica, sans-serif;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.box1{
    width:100%;   
    height: 500px;  
    text-align: center;
    color: white;
    background-image: url("../image/dd.jpg");
    border-top: 10px solid #5385c1;  
    margin-bottom: 50px;   
}
.header{    
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 45px;
    /*margin-bottom: 50px;
    margin-top: 50px;*/
}
.header p{
    float: left;
}
.header ul{
    float: right;
}
.header li{
    float: left;
    margin-left: 30px;
    list-style: none;
}
.banner{
    clear: both;    
    margin: 0 auto;
    position: relative;
    top: 120px;
}
.banner h1{
    font-weight :100;
    font-size: 50px;    
}
.banner p{
    font-weight :100;
    font-size: 15px;    
}
.box2{
    clear: both;
    width: 70%;
    margin:0 auto;
    margin-top: 50px;
    margin-bottom: 50px;    
}
.threeSection{
    width:28%;
    float:left;
    padding: 20px;          
}
.threeSection h1{
    font-size:20px;
    color: #6fb3e3;
    font-weight:lighter;    
}
.threeSection p{
    font-size:10px;
    line-height: 15px; 
    margin-bottom: 30px;
    color: gray;
}
.left-border{
    border-left: 1px solid gray;
}
button{
    width: 60px;
    height:30px;
    background-color: #5385c1;
    color: white;
    border: none;
}
.box3{
    clear: both;
    width: 100%;
    background-color:#5385c1;    
}
.fixed-width{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0px;
    color: white;
    text-align: center;   
}
.fixed-width h1{    
    font-size:45px;
    font-weight: 100;
}
.fixed-width p{
    font-size:16px;
    font-weight: 100;
    color: #b7c5da;
}
.group-person{
    width: 15%;
    float: left;
    margin-top: 50px;
    margin-right: 40px;
    border: 1px solid #7ea4d1;
    padding: 21px;    
}
.group-person img{
    border-radius: 100%;
    width: 100%;
    margin-bottom: 50px;    
}
.group-person h2{
   font-size: 15px;
}
.box4{
    width: 70%;
    margin:0 auto;   
}
.box4 h1{
    text-align: center;
    color:#53a0d9;
    font-size: 45px;
    font-weight: 100;
}
.box4 p{
    text-align: center;
    font-size: 15px;
    font-weight: 100;  
    color: gray;  
}
.left{
    width: 45%;
    float: left; 
    margin-top: 40px;   
}
.left h4{
    color:#53a0d9;
    font-weight: 100;
}
.left p{
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    color: gray;
}
.left img{
    width: 100%;
}
.right{
    width: 45%;
    float: right; 
    margin-top: 40px;   
}
.right h4{
    color:#53a0d9;
    font-weight: 100;
}
.right p{
    font-size: 12px;
    text-align: left;
    line-height: 20px;
    color: gray;
}
.right img{
    width: 100%;
}
.footer{
    width: 70%;
    clear: both;
    margin: 0 auto;
    margin-top: 50px;
    border-top: 1px solid black;
    padding-top: 50px;
}
.wrapper{
    width:40%;
}
.wrapper span{    
    float: left;
    color: gray;
}
.wrapper h5{    
    float: left;
    position: relative;
    top: -25px;
    color: gray;
}

.footer .icon-group{
    margin-left: 100px;
    float: right;
    color: #5385c1;
}