.container{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto; 
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.box-1{
    width: 964px;
    margin: 0 auto;
    text-align: center; 
    margin-left:  550px;
    font-family:'Courier New', Courier, monospace;   
}
.box-1 h1{
    width: 400px;       
    float: left; 
    color: #f6755e;
   }
.box-1 button{  
    width: 100px;
    float: right;
    margin-right: 10px;    
}
.box-2{
    clear: both;   
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    background-image: url("../image/banner.jpg");
    background-size: cover;
        
}
.box-2 h1{
    padding-top: 50px;
    color: #25a2c3;
}
.box-2 p{
    line-height: 30px;
}
.box-2 button{
    width:150px;
    background-color: #f6755e;
    border: none;
    color: white;
    margin-bottom: 50px;
}
.box-main{
    width: 964px;
    margin: 0 auto;   
    margin-bottom: 50px;
}
.box-main1{
    width: 300px;    
    float: left;
}
.box-3{
    width: 300px;
}
.box-3 h3{
    color: #25a2c3;
    text-align: center;
}
.box-4{
    width: 300px;
}
.box-4 h3{
    color: #25a2c3; 
    text-align: center;
}
.box-main img{
    border-radius: 100%;
    float: left;
    padding: 10px;
    margin: 50px;
}
.box-main2{
    width: 200px;
    float: left;
}
.box-5{
    width: 300px;  
}
.box-5 h3{
    color: #25a2c3;
    text-align: center;  
}
.box-6{
    width: 300px;  
}
.box-6 h3{
    color: #25a2c3; 
    text-align: center;
}
.brown{
    width: 100%;
    background-color: #f6755e;
    text-align: center;
    padding: 20px;
    margin-bottom: 50px;
}
.brown h2{
    color: white;    
}
.brown p{
    color: white;
    font-size: 9px;
    font-weight: normal;
    font-stretch: expanded;
    
}
.brown h5{
    color: white;    
}
.brown h6{
    color: white;
    position: relative;
    top: -20px;
    font-size: 9px;
    font-weight: normal;
    font-stretch: expanded;
}
.box-white{
    width: 1000px;
    margin: 0 auto;   
    margin-bottom: 50px;
}
.Consequat{
    width: 300px;    
    border-top: 2px solid #dee1e3; 
    border-right: 2px solid #dee1e3; 
    float: left;
}
.Consequat img{
    width: 300px;
    background-color: #25a2c3;    
}
.Consequat h3{
    color: #25a2c3;
    margin-left: 40px;  
}
.Consequat p{
    margin-right: 10px;
    line-height: 20px;
    padding: 20px;
}
.Adipiscing{
    width: 300px;
    border-left: 2px solid #dee1e3; 
    border-right: 2px solid #dee1e3;
    float: left;
    margin-left: 40px;     
}
.Adipiscing img{
    width: 300px;
}
.Adipiscing h3{
    color: #25a2c3;
    margin-left: 40px;  
}
.Adipiscing p{
    margin-right: 10px;
    line-height: 20px;
    padding: 20px;
}
.Malesuada{
    width: 300px;
    border-left: 2px solid #dee1e3;
    float: left;
    margin-left: 40px;     
}
.Malesuada h3{
    color: #25a2c3;
    margin-left: 40px;  
}
.Malesuada img{
    width: 300px;
}
.Malesuada p{
    margin-right: 10px;
    line-height: 20px;
    padding: 20px;
}
.Get-In_Touch{
    width: 100%;
    background-color: #25a2c3;         
}
.footer{
    width: 964px;
    margin:0 auto;
    color: white;
    text-align:center ;   
}
.footer h1{
   text-align: center;
   padding-top: 50px;
   font-size: 20px;   
}
.phone{
    width: 200px; 
    float: left;    
    padding-left: 50px;   
}
.phone h6{
    font-size: small;
    float: left;  
}
.phone p{
    color: red; 
    float: left;        
}
.envelop{
    width: 200px;
    margin-left: 80px;
    float: left;   
}
.envelop h6{
    font-size: small;
    float: left;     
}
.envelop p{
    color: red; 
    float: left;     
}
.map{
    width: 200px;
    margin-left: 50px;
    float: left;   
}
.map h6{
    font-size: small;
    float: left;  
}
.map p{
    color: red;
    float: left;     
} 
.footer h5{
    clear: both;
    font-size: 10px;
    padding-bottom: 20px;
}